In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.7297,-155.0900,81.28,76,40,6.91,US,2022-04-23 01:06:25
1,1,Rikitea,-23.1203,-134.9692,72.28,87,100,7.76,PF,2022-04-23 01:03:56
2,2,Honiara,-9.4333,159.9500,83.70,79,93,4.99,SB,2022-04-23 01:06:26
3,3,Bredasdorp,-34.5322,20.0403,54.59,66,0,5.28,ZA,2022-04-23 01:06:27
4,4,Jamestown,42.0970,-79.2353,51.53,58,0,6.91,US,2022-04-23 01:06:14

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable to some values.

temperatures = city_data_df['Max Temp'] # an array of length equal to the locations array length
new_temp = []
for temp in temperatures:
        new_temp.append(max(temp,0))
    
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in new_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness'] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df['Wind Speed'] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) & (city_data_df['Max Temp'] <= max_temp)]
preferred_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hilo,19.7297,-155.0900,81.28,76,40,6.91,US,2022-04-23 01:06:25
2,2,Honiara,-9.4333,159.9500,83.70,79,93,4.99,SB,2022-04-23 01:06:26
6,6,Shingu,33.7333,135.9833,75.06,48,100,4.70,JP,2022-04-23 01:06:28
7,7,Lorengau,-2.0226,147.2712,84.04,75,88,6.69,PG,2022-04-23 01:04:31
11,11,Sarangani,5.4033,125.4636,80.89,81,100,22.30,PH,2022-04-23 01:06:30
...,...,...,...,...,...,...,...,...,...,...
546,546,Sao Miguel Do Araguaia,-13.2750,-50.1628,76.57,70,53,4.23,BR,2022-04-23 01:21:55
551,551,Madimba,-10.4000,40.3333,75.42,91,41,5.57,TZ,2022-04-23 01:22:58
557,557,Raipur,21.2333,81.6333,78.94,78,40,3.44,IN,2022-04-23 01:21:08
558,558,Bokaro,23.7833,85.9667,85.26,25,3,3.42,IN,2022-04-23 01:23:01
570,570,Mogadishu,2.0371,45.3438,82.47,76,99,10.83,SO,2022-04-23 01:23:06

In [31]:
preferred_cities_df.count()

City_ID       172
City          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
Country       172
Date          172
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0           Hilo      US     81.28  19.7297 -155.0900
2        Honiara      SB     83.70  -9.4333  159.9500
6         Shingu      JP     75.06  33.7333  135.9833
7       Lorengau      PG     84.04  -2.0226  147.2712
11     Sarangani      PH     80.89   5.4033  125.4636
18     Mahajanga      MG     77.02 -15.7167   46.3167
19  Umm Kaddadah      SD     79.41  13.6017   26.6876
21         Akyab      MM     81.95  20.1500   92.9000
25        Loharu      IN     78.46  28.4500   75.8167
26        Atuona      PF     78.89  -9.8000 -139.0333

In [45]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": ""}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng                  Hotel Name
0        Hilo      US     81.28  19.7297 -155.0900         Hilo Hawaiian Hotel
2     Honiara      SB     83.70  -9.4333  159.9500         Heritage Park Hotel
6      Shingu      JP     75.06  33.7333  135.9833             Shingu UI Hotel
7    Lorengau      PG     84.04  -2.0226  147.2712  Lorengau Harbourside Hotel
11  Sarangani      PH     80.89   5.4033  125.4636             Ballistic Islet

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))